.main-video{
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.main-video__content{
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 110%;
    object-fit: cover;
}

.animated3{
    transform: translateX(-25%);
    transition: all .3s ease-in-out;
}