:root{

  --color-primary:        #002c37;
  --color-grey-light-1:   #FAFBFB;
  --color-grey-light-2:   #DADEE4;

  --color-grey-dark-1:    #AEBAC3;
  --color-grey-dark-2:    #8998A5;
  --color-grey-dark-3:    #475560;

  --font-primary: 'Open Sans', sans-serif;
  --font-title: 'Times New Roman', Times, serif;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
  font-size: 62.5%; /* So that 1rem = 10px (10px/16px (browsers default) = 62.5% -> 1rem = 10px */
}

body{
  font-family: var(--font-primary);
  font-weight: 300;
  color: var(--color-primary); 
}

.App {
  display: grid;
  grid-template-rows: [header-start] 6rem  [header-end full-start] calc(100vh - 6rem) [full-end]; 
  grid-template-columns: 35vw 65vw;
}

