.main-content{
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-primary);
    
    line-height: .95;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    transform: translateX(40%);
    z-index: 1;
}

.main-content__title{
    position: relative;
    font-size: 12rem;
    letter-spacing: .2rem;
}

.main-content__subtitle{
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 2rem;
}

.main-content__button{
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 2rem;
    background-color: inherit;
    color: inherit;
    border-color: var(--color-primary);
    margin-top: 4rem;
}

#sierra{
    margin-bottom: .1rem;
}

#nevada{
    margin-top: .1rem;
}

/* ---- BUTTON HOVER ANIMATION ---- */

.main-content__button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    z-index: -1;
    transition: width .3s cubic-bezier(0,0,0,1);
}

.main-content__button:hover::before{
    transform: scaleY(1);
    width: 100%;
}

.main-content__button:hover{
    color: white;
    cursor: pointer;
}

/* ---- BOX COVERING TEXT ANIMATION ---- */

/* The blue box begins from position left 100% with 0 width */
.main-content__title::after{
    content: "";
    position: absolute;
    top: 0;
    left: 100%;
    height: 100%;
    width: 0px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: left  .3s  cubic-bezier(0,0,0,1),
                width  .3s  cubic-bezier(0,0,0,1);
                
}

/*  After the button is pressed, the text takes the class animated which changes
    the width to 100% and scales it on the Y direction 100% */
.animated1BoxCoverText::after{
    transform: scaleY(1);
    width: 100%;
    left: 0;
}


/* ---- BOX ERASING TEXT ANIMATION ---- */

/* The width of the box becomes 0 */
.animated2BoxEraseText::after{
    width: 0;
}

/* The text behind the box becomes transparent */
.animated2BoxEraseText{
    color: transparent;
    visibility: hidden;
    transition: visibility .2s ease-in-out;
}