.main-content{
    font-family: 'Times New Roman', Times, serif;
    color: var(--color-primary);
    
    line-height: .95;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    transform: translateX(40%);
    z-index: 1;
}

.main-content__title{
    font-size: 10rem;
    letter-spacing: .2rem;
}

.main-content__subtitle{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 2rem;
}

.main-content__button{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    padding: 2rem;
    background-color: inherit;
    color: inherit;
    border-color: var(--color-primary);
    margin-top: 4rem;
}